/* mensajes.css */
.mensaje {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2000;
  display: flex;
  justify-content: center;
  pointer-events: none;
}


@keyframes mensajeFadeIn {
  from { opacity: 0; transform: translateY(-20px);}
  to { opacity: 1; transform: translateY(0);}
}

.mensaje-contenido {
  background-color: white;
  margin-top: 32px;
  border-radius: 8px;
  text-align: center;
  width: 20rem;
  height: 5rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.18);
  pointer-events: auto; /* Permite hacer clic en el mensaje */
}
.mensaje-contenido p {
  margin: 0;
  padding: 6px;
  color: #333;
}
#mensaje-aceptar {
  padding: 4px 10px;
  border: none;
  background-color: #B0CEE2;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

#mensaje-aceptar:hover {
  background-color: #E95D2C;
}

.mensaje-contenido button,
#mensaje-aceptar {
  margin-top: 15px;
  padding: 4px 16px;
  border: none;
  background-color: #E95D2C;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.mensaje-contenido button:hover,
#mensaje-aceptar:hover {
  background-color: #E95D2C;
}

.oculto {
  display: flex;
}

.mensaje.oculto {
  display: none;
}
